


@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<h1>Daha Fazla Bilgiye Mi İhtiyacınız Var?</h1>
<div class="row">
    <div class="col-md-5">
        <div class="card centerCardContent">
            <i class="fa fa-map-marker-alt fa-4x"></i>
            <div class="card-body">
                <h5 class="card-title">
                    Ofis Adresimiz
                </h5>
                <p class="card-text">
                    4119. Sk. Selvili, 35130 Karabağlar/İzmir
                </p>
                <p class="card-text">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d195.486356157827!2d27.126761428887274!3d38.37717124182647!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14bbdf207e7a7db9%3A0x5386b4650706eca!2sSelvili%2C%204119.%20Sk.%2C%2035130%20Karaba%C4%9Flar%2F%C4%B0zmir!5e0!3m2!1str!2str!4v1575577212031!5m2!1str!2str" width="350" height="170" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
                </p>
            </div>
        </div>
    </div>
    <div class="col-md-5">
        <div class="card centerCardContent">
            <i class="fa fa-phone fa-4x"></i>
            <div class="card-body">
                <h5 class="card-title">
                    Telefon Numaralarımız
                </h5>
                <p class="card-text">
                    GSM: 0555 555 55 55
                </p>
                <p class="card-text">
                    Faks: 02324631073
                </p>
                <h6 class="card-title">
                    Çalışma Saatlerimiz
                </h6>
                <p class="card-text">
                    Pazartesi - Cuma: 09:00 - 18:00
                </p>
                <p class="card-text">
                    Cumartesi: 10:00 - 15:00
                </p>
                <p class="card-text">
                    Pazar: 10:00 - 15:00
                </p>


            </div>
        </div>
    </div>
</div>