@model coreNet.tblMusteri
@{
    ViewBag.Title = "Uygulama Adı";
}

<nav>
    <div class="menu">
        <a class="menuLink" href="#home">ANASAYFA</a>
        <a class="menuLink" href="#aboutUs">HAKKIMIZDA</a>
        <a class="menuLink" href="#recycleEarn">GERİ DÖNÜŞTÜR KAZAN</a>
        <a class="menuLink" href="Home/Aboust">GERİ DÖNÜŞÜM MERKEZLERİ</a>
        <a class="menuLink" href="#reportWaste">ATIK BİLDİR</a>
        <a class="menuLink" href="#contactUs">İLETİŞİM</a>
    </div>
</nav>

<!-- NAV MENU END -->
<!-- HOME PAGE START -->
<section class="home" id="home">
    <div class="darkBg"></div>
    <div class="homeTitle">
        <h1>DÜNYAMIZI KURTARMAK İÇİN YARDIM EDİN</h1>
        <p>Geri Dönüşebilen Atıklarınız İçin Sizlere Ödeme Yapıyoruz</p>
        <a href="#" class="btn btn-primary">Atık Degeri Hesapla</a>
    </div>
</section>
<!-- HOME PAGE END -->
<!-- ABOUT US START -->
<section class="aboutUs" id="aboutUs">
    <h1>NEDEN BİZ? ÇÜNKÜ DOĞAYI ÖNEMSİYORUZ</h1>
    <div class="row">
        <div class="col-md-4">
            <div class="card centerCardContent">
                <i class=" fa fa-power-off fa-4x"></i>
                <div class="card-body">
                    <h5 class="card-title">
                        Güçlü Altyapı
                    </h5>
                    <p class="card-text">
                        Her boyutta ihtiyaca cevap verecek kaynaklara sahibiz. 200'ü aşkın roll-off konteyner filomuz ve taşıma bağlantılarımızla, geri dönüşümlülerinizin bulundukları yerde toplanması için zamanında konteynerler temin edebiliyoruz ve hizmetlerinizde yetişecek ve faydalarınızı en üst düzeye çıkaracak personel ve altyapıya sahibiz.
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card centerCardContent">
                <i class="fa fa-clock fa-4x"></i>
                <div class="card-body">
                    <h5 class="card-title">Zamanında Teslim Alma</h5>
                    <p class="card-text">
                        Çoğu durumda, işletmeniz tarafından oluşturulan geri dönüştürülebilir maddeleri depolamak için neredeyse hiç yer olmadığını biliyoruz. Boşluk ayırmayı göze alamazsınız, bu yüzden söyleyeceğimizde orada olacağımıza güveniyorsunuz. Zamanında teslim alma, geri dönüşüm programlarımızın bu kadar etkili olmasının bir nedenidir.
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card centerCardContent">
                <i class="fa fa-tools fa-4x"></i>
                <div class="card-body">
                    <h5 class="card-title">Ekipmanlar</h5>
                    <p class="card-text">Daha büyük ölçekli operasyonlarda, gerekli ekipmanın sağlanmasında da yardımcı oluyoruz, çünkü doğru ekipman geri dönüşüm ihtiyaçlarınızı artıracaktır. Sıkıştırıcılar kaplarda daha fazla malzeme toplamanıza izin verir. Balya makineleri, kendi hurdalarınızı sahada işleme koymanıza izin verir.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8 mx-auto">
            <div class="card centerCardContent">
                <i class=" fa fa-recycle fa-4x"></i>
                <div class="card-body">
                    <h5 class="card-title">
                        Güvenilir Hizmet
                    </h5>
                    <p class="card-text">
                        Anahtar teslim hizmetimizle tüm ekipmanları sağlayabilir ve ihtiyaçlarınız için kişiselleştirilmiş bir sistem kurabiliriz, böylece geri dönüşüm programınıza hemen başlayabilirsiniz.İhtiyaçlarınızı karşılayan ve beklentilerinizi aşan harika bir geri dönüşüm programı oluşturmak için kaynaklara sahibiz. SADECE ŞİRKETİMİZ Özel Sistem Sunuyoruz Piyasada ilk yenilikler için tesisler, Tesisinizi genişletmek ve üretim hatlarınızı mükemmelleştirmek için ihtiyaç duyduğunuz ek ekipmanları sağlarız. Sizi, MÜŞTERİ MÜHENDİSLİ SİSTEMLERDEN Devam Eden Destek veya Potansiyel olarak faydalı materyallerin israfını önlemek için Kapsamlı Danışmanlık. Size TAM GERİ DÖNÜŞÜM YÖNETİMİ HATTI veriyoruz.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ABOUT US END -->
<!-- RECYCLE EARN START -->
<section class="recycleEarn" id="recycleEarn">
    <h1>GERİ DÖNÜŞTÜR KAZAN</h1>
    <div class="row">
        <div class="col-md-5">
            <div class="card centerCardContent">
                <div class="card-body">
                    <h5 class="card-title">
                        Zamanında teslim alma
                    </h5>
                    <p class="card-text">
                        Çoğu durumda, işletmeniz tarafından oluşturulan geri dönüştürülebilir maddeleri depolamak için neredeyse hiçbir ilave oda bulunmadığını biliyoruz. Boşluk ayırmayı göze alamazsınız, bu yüzden söyleyeceğimizde orada olacağımıza güveniyorsunuz. Zamanında teslim alma, geri dönüşüm programlarımızın bu kadar etkili olmasının bir nedenidir.
                    </p>
                    <a href="#" class="btn btn-primary">Form Doldurun</a>
                </div>
            </div>
        </div>
        <div class="col-md-5">
            <div class="card centerCardContent">
                <div class="card-body">
                    <h5 class="card-title">
                        Gelirinizi arttırın
                    </h5>
                    <p class="card-text">
                        Geri dönüşüm işlemlerinizi günlük olarak izleriz ve hurda gelirinizi en üst düzeye çıkarmak için yeni yollar aramaya devam edeceğiz. Şirketimizin, malzemelerin geri dönüştürülmesini sağlamak için şirket politikaları geliştirmelerine yardımcı olmak için yılların deneyimine sahiptir. Bizimle iletişime geçerek daha detaylı bilgi alıp gelirinizi arttırabilirsiniz.
                    </p>
                    <a href="#" class="btn btn-primary">Bizimle İletişime Geçin</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- RECYCLE EARN END -->
<!-- LOCATIONS START -->
<section class="locations" id="locations">
    <!-- Geri Dönüşüm Merkezleri -->
    <h1>Daha Fazla Bilgiye Mi İhtiyacınız Var?</h1>
    <div class="row">
        <div class="col-md-4">
            <div class="card centerCardContent">
                <i class="fa fa-map-marker-alt fa-4x"></i>
                <div class="card-body">
                    <h5 class="card-title">
                        ÇEVDENİZ - ÇEVDENİZ ÇEVRE HİZMETLERİ VE TEKNOLOJİLERİ SAN.TİC.LTD.ŞTİ.
                    </h5>
                    <p class="card-text">
                        Adalet Mah. 2132/2 Sok. 3 Trend Office K:4 D:36 Bayraklı, İzmir Atık Yönetimi ve Geri Dönüşüm.
                    </p>
                    <p class="card-text">
                        Telefon: 02324631071
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card centerCardContent">
                <i class="fa fa-map-marker-alt fa-4x"></i>
                <div class="card-body">
                    <h5 class="card-title">
                        ÖZKASAN GERİ DÖNÜŞÜM - ÖZKASAN GERİ DÖNÜŞÜM ATIK TOPLAMA SAN.TİC.LTD.ŞTİ.
                    </h5>
                    <p class="card-text">
                        Karton Geri Dönüşümü Uzundere Mah. Eski İzmir Cad. 787 Karabağlar, İzmir Atık Yönetimi ve Geri Dönüşüm
                    </p>
                    <p class="card-text">
                        Telefon: 02324631073
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card centerCardContent">
                <i class="fa fa-map-marker-alt fa-4x"></i>
                <div class="card-body">
                    <h5 class="card-title">
                        ENBİOCON - ENDÜSTRİYEL ATIK DÖNÜŞÜM SİSTEMLERİ TAAHHÜT SAN.TİC.LTD.ŞTİ.
                    </h5>
                    <p class="card-text">
                        Katı Atık Geri Kazanımı Alsancak Mah. 1439. Sok. 11 Konak, İzmir Atık Yönetimi ve Geri Dönüşüm
                    </p>
                    <p class="card-text">
                        Telefon: 02324631076
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- LOCATIONS END -->
<section class="reportWaste" id="reportWaste">
    <!-- Atık Bildiri formu -->

</section>
<section class="contactUs" id="contactUs">
    <!-- İletişim -->

</section>
<script src="assets/js/main.js"></script>